@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@keyframes kenburns {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}
.animate-ken-burns {
  animation: kenburns 10s ease-out infinite alternate;
}
